.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;                          
    box-shadow: 1px 2px 10px black;   
    border-radius: 5px;               
    margin: 2% 5%; 
    padding: 2%;    
}

.Header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.Header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.SplitwiseStatus{
    display: flex;        
    background-color: rgb(151, 147, 147);    
}

.SplitwiseStatus img{  
    max-width: 80px;  
    padding: 10px;
}

.SplitwiseHeader{
    width: 100%;
    text-align: start;    
}

.SplitwiseText{
    font-size: 1.7rem;
    font-weight: bold;
}

.SplitwiseStatusText{
    font-size: 1.2rem;
    font-weight: bold;
}

.SplitwiseStatusTextPositive{
    color: rgb(186, 224, 189)
}

.SplitwiseStatusTextNegative{
    color: red;
}


.Icon{
    width: 40px;
    height: 40px;
    float: right;
    padding: 2px;
    transition-duration: 0.2s;
}

.Icon:hover{
    background-color: rgba(0,0,0,15%);
    transform: scale(1.2);
    border-radius: 50%;    
}



@media (max-width: 1000px) {
    .SplitwiseStatus img{      
        max-width: 65px;  
        padding: 10px;
    }
  }


