.Container{
    display: flex;
    justify-content:  space-evenly;    
    align-items: center;     
    margin:15px auto;  
    max-width: 40%;
    /* background-color: red;       */
}

.Dropdown{
    width: fit-content;        
    padding: 15px;
    font-size: 1.1rem;
    text-align-last: center;
}

.Icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.SelectedUserContainer{    
    display: flex;
    justify-content:  space-evenly;    
    align-items: center;   
    max-width: 40%;
    margin:15px auto;    
    border: 1px solid black; 
}

.Icon:hover{
    background-color: rgba(0,0,0,20%);
    border-radius: 50%;
}