.Form{
    background-color: whitesmoke;    
    margin: 10% 0;            
    min-width: 450px;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px 5px black;   
    border-radius: 5px;
    width: auto;
    padding: 0 5% 5% 5%;
}

@media (max-width: 1000px) {
    .Form {      
        min-width: 250px;                
        max-width: 80%;
    }
  }
