.header{
    max-height: 45px;    
    box-shadow: 1px 2px 5px black;
    display: flex;    
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hamburger{
    max-width: 40px;
    max-height: 35px;    
    cursor: pointer;
    transition-duration: 0.2s;
}

.hamburger:hover{
    transform: scale(1.1);
}

.title{
    font-size: 2.4rem;
    color: white;
    font-family: cursive;
    letter-spacing: 5px;
    cursor: pointer;
}

.profileIcon{
    max-width: 40px;
    max-height: 35px;    
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 3px;
}

.profileIcon:hover{
    transform: scale(1.1);
}

.HighlightProfile{
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}