.Button{
    width: 320px;
    height: 40px;
    margin: 15px;
    font-size: 1.2rem;
    color: white;
}

.ButtonEnabled{
    
    background-color: #1C8EF9;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    border: 1px solid white;
}

.ButtonEnabled:hover{
    cursor: pointer;
    background-color: white;
    color:#1C8EF9;
    border: 2px solid #1C8EF9;
}


.ButtonDisabled{
    background-color: gray;
    cursor:auto;
}

