.Button{
    width: 320px;
    height: 40px;
    margin: 15px;
    color: white;
    font-size: 1.2rem;
    background-color: #1C8EF9;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.Button:hover{
    cursor: pointer;
    background-color: white;
    color:#1C8EF9;
    border: 1px solid #1C8EF9;
}