.Button{
    width: 75%;
    height: 40px;
    margin: 15px;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    border: 1px solid #1C8EF9;
    box-shadow: 1px 1px 4px black;
}

.ButtonEnabled{
    
    background-color: #1C8EF9;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: linear;    
}

.ButtonEnabled:hover{
    cursor: pointer;
    background-color: white;
    color:#1C8EF9;
    border: 2px solid #1C8EF9;
}


.ButtonDisabled{
    background-color: gray;
    cursor:auto;
    border: 0px;
}


.ButtonDanger{
    background-color: rgb(168, 12, 12);
    border: 1px solid red;
}

.ButtonDanger:hover{
    color:  rgb(168, 12, 12);
    background-color: white;
    border: 1px solid red;
}


.ButtonWarning{
    background-color: rgb(187, 187, 35);
    border: 1px solid rgb(187, 187, 35);
}


.ButtonWarning:hover{
    color:   rgb(187, 187, 35);
    background-color: white;
    border: 1px solid rgb(187, 187, 35);
}