.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;                          
    box-shadow: 1px 2px 10px black;   
    border-radius: 5px;               
    margin: 2% 5%; 
    padding: 2%;    
}

.LeaveRoom{            
    display: flex;
    justify-content:space-evenly;
    align-items: center;         
}

.LeaveRoomButton{    
    height: 45px;
    cursor: pointer;
    background-color: rgb(168, 12, 12);
    color: white;
    font-size: 1.1rem;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    transition-duration: 0.3s;
    transition-timing-function: linear;      
}

.LeaveRoomButton:hover{
    background-color: white;
    color: red;
    border: 2px solid rgb(168, 12, 12);
}

.RoomMembers{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MemberBox{        
    box-shadow: 1px 3px 5px #ccc;
    margin: 10px;
    width: 150px;
}